.art{
    padding: 50px;
    border-radius: 5px;
    border-style: ridge;
    margin-left: 10%;
    margin-top: 20px;
    width: 80%;
    background-color: #fff;
    display: flex;
}
.art-titulo{
    width: 100%;
    margin-left: 25px;
}
.art-img{
    width: 100%;
}
.side-a{
    width: 50%;
}
.side-b{
    width: 50%;
}

.art-precio{
    width: 100%;
    margin-bottom: 50px;
}
.stock-art{
    margin-top: -20px;
}

.stock-actual{
    width: 50%;
}